.p {
  font-family: 'Luxurious Script', cursive;
  text-align: center;
  font-size: 7em;
}
.App {
  text-align: center;
  background-image: url('./img/bg.JPG');
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
*{
  color: white;
}
.clocks{
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.clock{
  position: relative;
  margin: a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.clock section p{
  font-size: 2rem;
}
.wed{
  text-align: center;
  font-size: 2em;
  font-family: 'Dosis', sans-serif;
}
